.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #0070f3;
  transition: background-color .3s;
}

.button:hover {
  background-color: #1d87ff;
}

.multiselect {
  width: 100%;
  height: 42px;
  border-radius: 5px;
  border: 1px solid #afafaf;
  display: grid;
  grid-template-columns: auto 45px;
}

.multiselect > div {
  height: 42px;
  color: #afafaf;
}

.dropdownSelect {
  width: 100%;
  margin-top: 10px;
}

.multiselectIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  overflow: hidden;   
  display: flex;
  align-items: center;
  padding-left: .8rem;
}

.optionSelected  {
  background-color: #1d87ff;
  margin-left: .3rem;
  padding: .3rem .5rem;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  color: #fff;
  height: 30px;
}

.optionSelected span {
  margin-right: .3rem;
}

.optionSelected svg {
  margin-top: .1rem;
}

.dropdown,
.dropdownSelect {
  position: relative;
}

.dropdownmenu,
.multiselectmenu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background: white;
  padding: .75rem 0;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  z-index: 99;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdownmenu div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem .7rem;
  transition: all .3s;
}

.dropdownmenu div input {
  margin-right: .8rem;
}

.dropdownmenu div:hover {
  background-color: #0070f3;
  color: #fff;
}

.multiselectmenu {
  transform: translateY(-20px);
}

.dropdown.active > .button + .dropdownmenu,
.dropdownSelect.active > .multiselect + .dropdownmenu {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.dropdownSelect.active > .multiselect + .dropdownmenu {
  transform: translateY(-10px);
}

.toast {
  width: clamp(300px, 350px, 400px);
  min-height: 75px;
  position: relative;
  opacity: 1;
  padding: 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgb(69, 69, 69);

  transition: 0.2s;
  animation: fadeIn 0.4s;
}

.toast:hover {
  transition: 0.2s;
  transform: scale(0.95);
  box-shadow: 0px 0px 3px gray;
}

.toastListContainer {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.success {
  background-color: rgb(99, 197, 99);
}

.warning {
  background-color: rgb(189, 168, 131);
}

.error {
  background-color: rgb(189, 131, 131);
}

.info {
  background-color: rgb(131, 152, 189);
}

.progress-success {
  background-color: rgb(70, 151, 70);
}

.progress-warning {
  background-color: rgb(145, 123, 85);
}

.progress-error {
  background-color: rgb(155, 92, 92);
}

.progress-info {
  background-color: rgb(74, 95, 131);
}

.toastPosition {
  position: fixed;
  top: 10px;
  right: 10px;
}

.showToastNotification {
  right: 50px;
  opacity: 1;
}

.toast h3 {
  font-size: 1.1rem;
  margin-bottom: .2rem;
  margin-top: .5rem;
}

.toast span {
  float: right;
}

.toast p {
  font-size: .9rem;
  margin-top: .5rem;
}

.progressBar {
  height: 8px;
  width: 100%;
  animation-name: progress;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  opacity: .7;
}

.skeletonText {
  width: 100%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skeletonText:last-child {
  margin-bottom: 0;
  width: 80%;
}

.gridSkeleton {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, .1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.6) 0px 2px 4px -1px;
  padding: 16px;
  border-radius: 4px;
}

.cardImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
  flex-shrink: 0;
}

.cardImg img {
  border-radius: 100%;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: capitalize;
  word-wrap: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-flow: 1;
  width: 100%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@keyframes progress {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes fadeIn {
  0% {
    left: 500px;
  }

  100% {
    left: 0;
  }
}

